h1
{
	color: black;
}

body
{

	background-image:url(https://media.giphy.com/media/jUJtNKKVTdIeD0XreN/giphy.gif)
}

 #carte
 {

 		width: 800px;
 		margin: 0 auto;
 		background-color: white;
 		text-align: center;
 		align-content: center;
 }